.explications {
    font-family: 'Kufam', sans-serif;
    margin-top: 48px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 48px;
    text-align: center;
    color: #58484E;
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: left;
    align-items: center;
}

.site {
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact {
    margin-bottom: 80px;
}