@import url('https://fonts.googleapis.com/css2?family=Kufam,wght@0,400..900;1,400..900');

.cre {
    margin-bottom: 48px;
    scroll-margin-top: 140px;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px; /* hauteur de votre navbar */
}
