.button-icon img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.button-icon {
    margin-left: 8px;
    margin-top: 4px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    padding: 8px 16px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 8px 16px;
    width: 300px;
    height: 72px;
    font-size: 36px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.button--primary {
    background-color: #5D1E1F;
    color: white;
}

.button--secondary {
    background-color: #6c757d;
    color: white;
}

.button--danger {
    background-color: #dc3545;
    color: white;
}

.button--success {
    background-color: #28a745;
    color: white;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
